div.vud-widget-mini {
  margin-top: -9px;
}

.vud-widget-mini {
  display: inline-block;
  padding: 2px;
  margin: 2px 5px 0 0;
/*  border: 1px solid #ccc;*/
  width: 30px;
  height: 9px;
}

.vud-widget-mini .up-active,
.vud-widget-mini .up-inactive,
.vud-widget-mini .down-active,
.vud-widget-mini .down-inactive {
  display: block;
  text-decoration: none;
  width: 15px;
  height: 16px;
  background-image: url('arrows.png');
}

.vud-widget-mini a.up-inactive,
.vud-widget-mini a.down-inactive,
.vud-widget-mini span.up-inactive,
.vud-widget-mini span.down-inactive {
  cursor: pointer;
}

.vud-widget-mini a.up-active,
.vud-widget-mini a.down-active,
.vud-widget-mini span.up-active,
.vud-widget-mini span.down-active {
  cursor: default;
}

.vud-widget-mini .up-active,
.vud-widget-mini .up-inactive:hover {
  background-position: -10px -10px;
  float: left;
}

.vud-widget-mini .up-inactive {
  background-position: -10px -82px;
  float: left;
}

.vud-widget-mini .down-active,
.vud-widget-mini .down-inactive:hover {
  background-position: -10px -118px;
  float: right;
}

.vud-widget-mini .down-inactive {
  background-position: -10px -46px;
  float: right;
}

.total-votes-mini {
  font-weight: bold;
  color: #494949;
}

.vud-term-table {
  border: 1px solid #D3E7F4;
  float: right;
  width: 40em;
  margin: 0.5em 0 0.5em 1em;
}

.vud-widget-mini .ctools-ajaxing {
  padding-right: 0 !important;
  display: block;
  width: 15px;
  height: 16px;
  background-position: center;
  float: left;
}

.vud-widget-mini .ctools-ajaxing.plain-click-up {
  margin-right: 3px;
}

.vud-widget-mini .ctools-ajaxing.plain-click-down {
  margin-left: 3px;
}

.vud-widget-mini .ctools-ajaxing span {
  display: none;
}

/**
 * Hide elements visually, but keep them available for screen-readers.
 *
 * Used for information required for screen-reader users to understand and use
 * the site where visual display is undesirable. Information provided in this
 * manner should be kept concise, to avoid unnecessary burden on the user. Must
 * not be used for focusable elements (such as links and form elements) as this
 * causes issues for keyboard only or voice recognition users. "!important" is
 * used to prevent unintentional overrides.
 */
.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
